.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #fff;

  /* Workaround for broken align-items:center bug in IE11 */
  height: 1px;
}

.hero .background-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right bottom;
  z-index: -1;
  opacity: 0;
  animation: 0.5s fadein 0.5s forwards;
}

.hero h1 {
  font: bold 50px "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.hero h3 {
  font: normal 30px "Open Sans", sans-serif;
  margin-bottom: 40px;
}

.hero-content-area {
  margin-top: 100px;
  margin-right: 40px;
}

.hero-content-area .name {
  text-transform: uppercase;
  font-size: 60px;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .hero-content-area {
    margin-top: 100px;
    margin-right: 0;
  }

  .hero-content-area .titles {
    font-size: 20px;
  }
}
