.Header {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 30vh;
}

.Header .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.Header h1 {
  font: bold 50px "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.header-content-area {
  margin-top: 100px;
  z-index: 1;
}
