.App header {
  position: absolute;
  width: 100%;
  z-index: 1;
  animation: 1s fadein 1s forwards;
  opacity: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

section:not(.hero):nth-child(odd) {
  background-color: #f5f5f5;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

section h1 {
  text-align: center;
  margin-bottom: 70px;
}
